@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F1F2F6;
    font-family: 'Montserrat', sans-serif;
}

p {
    margin: 0;
    padding: 0;
}

/* Credit to Shireen Taj https://freefrontend.com/css-text-effects/ */
h1 {
    font-size: 50px;
    text-align: center;
    color: #27187E;
    font-weight: 1000;
    text-shadow: 3px 3px 0px #758BFD, 
            5px 5px 0px #AEB8FE, 
            8px 8px 0px #F1F2F6;
    margin-bottom: 0;
}

h4 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20%;
}

#calc-container {
    height: 385px;
    width: 350px;
    border-style: solid;
    border-width: 10px;
    border-color: #27187E;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;

}

#display {
    height: 60px;
    border-style: solid;
    border-width: 4px;
    border-color: #27187E;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: right;
    align-items: center;
}


#current {
    font-size: 35px;
    margin-left: auto;
    padding-right: 10px;
}

#buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
}

#buttons div {
    background-color: #AEB8FE;
    aspect-ratio: 1;
}

#big-buttons {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 65px 65px 65px;
    grid-gap: 5px;
    margin-top: 5px;
}

/*#big-buttons div {
    background-color: #AEB8FE;
} */

.button {
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 25px;
}

#footer {
    margin-top: auto;
    align-items: center;
    justify-content: center;
    height: 30px;
}

#zero, #one, #two, #three, #four, #five, #six, #seven, #eight, #nine,
#plus, #minus, #multiply, #divide, #equals, #point, #del, #clr {
    background-color: #AEB8FE;
}

#zero:hover, #one:hover, #two:hover, #three:hover, #four:hover, #five:hover, 
#six:hover, #seven:hover, #eight:hover, #nine:hover, #plus:hover, #minus:hover, 
#multiply:hover, #divide:hover, #equals:hover, #point:hover, #del:hover, #clr:hover {
    background-color: #9da7f7;
    cursor: pointer;
}

#zero:active, #one:active, #two:active, #three:active, #four:active, #five:active, 
#six:active, #seven:active, #eight:active, #nine:active, #plus:active, #minus:active, 
#multiply:active, #divide:active, #equals:active, #point:active, #del:active, #clr:active {
    background-color: #7b84cf;
    cursor: pointer;
}